<div>
    <ul>
        <li><a n:href="Profile:">Profile</a></li>
        <li><a n:href="Profile:address">Addresses</a></li>
        <li><a n:href="Profile:information">Information</a></li>
        <li><a n:href="Profile:password">Password</a></li>
        <li><a n:href="Profile:avatar">Avatar</a></li>
        <li><a n:href="Profile:preferences">Preferences</a></li>
    </ul>
</div>