
$background-color: #000000;
$background-color-light: #121212;

$primary-color: #2ec500;
$secondary-color: #71028d;

$text-color: #dbdbdb;
$text-size: 1rem;
$text-header1-size: 1.5rem;
$text-header2-size: 1.25rem;
$text-header3-size: 1.1rem;



$button-color: #6200ff