@import '_variables.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hig-btn{
    background-color: $button-color;
    color: $text-color;
    border-radius: 5px;
    &:hover{
        background-color: darken($secondary-color, 10%);
    }
}

a{
    text-decoration: none;
}

#flash-container{
    position: fixed;
    display: none;
    top: 50px;
    right: 0px;
    padding: 10px 20px;
    z-index: 1000;
    background-color: $text-color;
    transition: right 0.5s ease-in-out;

    .info{
        background-color: $background-color;
        color: $text-color;
        border: 2px solid blue;
    }
    .error{
        background-color: $background-color;
        color: $text-color;
        border: 2px solid red;
    }
    .success{
        background-color: $background-color;
        color: $text-color;
        border: 2px solid green;
    }
    
    #progress-bar {
        position: absolute;
        top: 0;
        left: 0;
        height: 4px;
        width: 100%;
        background: #ae00ff;
    }

    .flash{
        padding: 10px 20px;
        margin-bottom: 10px;
        border-radius: 15px;
    }
}


body{
    background-color: $background-color;

    nav{
        background-color: $primary-color;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        ul{
            display: flex;
            width: 50%;
            li{
                display: inline-block;
                margin: 10px;
                a{
                    color: $text-color;
                    padding: 5px 10px;
                }
            }
       }
       .left-menu{
            justify-content: left;
        }
        .right-menu{
            justify-content: right;
        }
    }
}