<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<title>{ifset title}{include title|stripHtml} | {/ifset}Nette Web</title>

	{asset? 'main.js'}
</head>

<body>
	<nav>
		<ul class="left-menu">
			<li><a n:href="Home:"><img src="{$basePath}/img/persistent/logo.png"></a></li>
			<li><a n:href="Home:">Home</a></li>
		</ul>
		<ul class="right-menu">
			{if $user->isLoggedIn()}

				<li><a n:href="Profile:"><img src="{$basePath}/{$user->getIdentity()->avatar}" alt="avatar" width="32px" height="32px"></a></li>
				<li><a n:href="Profile:">Profile</a></li>
				<li><a n:href="Sign:out">Sign out</a></li>
			{else}
				<li><a n:href="Sign:in">Sign in</a></li>
				<li><a n:href="Sign:up" class="hig-btn">Sign up</a></li>
			{/if}
		</ul>
	</nav>
	<div id="flash-container">
		<div id="progress-bar"></div>
		<div id="flash-messages">
			<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
		</div>
	</div>
	<div>
		{if $presenter->getName() == "App:Profile"}
			{include "../Accessory/@profileMenu.latte"}
		{/if}
		{include content}
	</div>
</body>
</html>
